<div class="items">
  <div class="row">
    <% @adverts.each do |advert| %>
      <div class="col-lg-4">
        <%= link_to advert.title, advert_path(advert)%>
        <%= advert.price%>
        <%= image_tag advert.image_url if advert.image? %>
      </div>
    <%end%>
  </div>
</div>