<h1>Редактирование</h1>
<%= form_for @advert, url: users_advert_path do |f| %><br>
   Описание объявлении <br/><%= f.text_area :body %>
  <p><%= f.submit "Сохранить", class: "btn btn-primary" %></p>
<%end%>